{% extends 'base.html.twig' %}

{% block title %}Solution index{% endblock %}

{% block body %}
    <h1>Solution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_catastrophe</th>
                <th>Username</th>
                <th>Message</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solution in solutions %}
            <tr>
                <td>{{ solution.id }}</td>
                <td>{{ solution.idCatastrophe }}</td>
                <td>{{ solution.username }}</td>
                <td>{{ solution.message }}</td>
                <td>{{ solution.date ? solution.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_solution_show', {'id': solution.id}) }}">show</a>
                    <a href="{{ path('app_solution_edit', {'id': solution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_solution_new') }}">Create new</a>
{% endblock %}
