{% extends 'base.html.twig' %}

{% block title %}Solution{% endblock %}

{% block body %}
    <h1>Solution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ solution.id }}</td>
            </tr>
            <tr>
                <th>Id_catastrophe</th>
                <td>{{ solution.idCatastrophe }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ solution.username }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ solution.message }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ solution.date ? solution.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_solution_index') }}">back to list</a>

    <a href="{{ path('app_solution_edit', {'id': solution.id}) }}">edit</a>

    {{ include('solution/_delete_form.html.twig') }}
{% endblock %}
