<form method="post" action="{{ path('app_catastrophe_delete', {'id': catastrophe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catastrophe.id) }}">
    <button class="btn">Delete</button>
</form>
