{% extends 'base.html.twig' %}

{% block title %}New Catastrophe{% endblock %}

{% block body %}

<div class="col-md-10 m-auto">
        <h1>Create new Catastrophe</h1>
        {{ include('catastrophe/_form.html.twig') }}

    <a href="{{ path('app_catastrophe_index') }}">back to list</a>
    </div>
{% endblock %}
